@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #edf0f1;
}

/* Nav bar */

button {
    border: 0px;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 15px 32px;
    color: white;
    background-color: #FFCD73;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #fae6c0;
}


li, a {
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #24252A;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid black; 
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
    padding: 0px;
}

/* Home page */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    text-decoration: none;
    color: #FFCD73;
}

.home-left {
    padding: 25px; 
    border-right: 1px solid black; 
    border-bottom: 1px solid black; 
    width: 50%;
    height: 90vh;
    float: left;
}

.home-left-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.home-right-top {
    padding: 50px; 
    border-bottom: 1px solid black;
    border-right: 1px solid black;  
    width: 50%;
    height: 60vh;
    float: right;
}

.home-right-top h1{
    margin-top: 10vh;
    line-height: 75px;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}

 input {
  background-color: #FFCD73;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

 input:hover {
    background-color: #fae6c0;
}

.home-right-bottom {
    padding: 50px; 
    border-bottom: 1px solid black; 
    border-right: 1px solid black;  
    width: 50%;
    height: 30vh;
    float: right;
}

.home-right-bottom h3{
    font-family: "montserrat", sans-serif;
    font-weight: 500;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
}

.cards {
    background-color: #edf0f1;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-top: 20px;
}

.card-image {
    text-align: center;
}

.card-image img {
    max-width: 75px;
    height: auto;
}

.card-content h4 {
    margin-top: 20px;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}

/* Upload page */

.upload-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-content {
    border: 1px solid black;
    width: fit-content;
    padding: 50px;
}

#custom-text {
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
}

.file-selector {
    width: 100%;
}

.file-submit-btn {
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-submit {
    background-color: #fff5e2;
    color: #24252A;
    margin: auto;
}

/* Application form page */

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
.applicationForm{
    width: 500px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 1px solid #080710;
    padding: 50px 35px;
}
.applicationForm *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.applicationForm h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    color: #080710;
}

.applicationForm label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #080710;
}
.applicationInput{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(105, 105, 105, 0.164);
    color: #080710;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.applicationButton{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
