{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
    <form class = "applicationForm" method="POST" enctype="multipart/form-data">
        <h3>Barashev form</h3>
            <label for="name">Name</label>
            <input class = "applicationInput" type="text" placeholder="Name" name="name" value={{ user.name }}>

            <label for="email">Email</label>
            <input class = "applicationInput" type="email" placeholder="Email" name="email" value={{ user.email }}>

            <label for="education">Major</label>
            <input class = "applicationInput" type="text" placeholder="Major" name="major" value={{ user.email }}>

            <label for="expgrad">Expected Graduation</label>
            <input class = "applicationInput" type="text" placeholder="Year" name="expgrad" value={{ user.major }}>

            <button class = "applicationButton">Submit</button>
    </form>
{% endblock %}
